<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste atque ea quis molestias.
                    Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam,
                    est atque cumque eum delectus sint!
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a (click)="noLink()" class="text-dark" style="cursor: pointer;">Privacy Policy</a>
                    </li>
                    <li>
                        <a (click)="noLink()" class="text-dark" style="cursor: pointer;">Terms of Service</a>
                    </li>
                    <li>
                        <a (click)="noLink()" class="text-dark" style="cursor: pointer;">Contact Us</a>
                    </li>
                    <li>
                        <a (click)="scrollToFAQ()" class="text-dark" style="cursor: pointer;">FAQs</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <p class="text-dark">1234 Street Name, City, State, 12345</p>
                    </li>
                    <li>
                        <p class="text-dark">Email: info.com</p>
                    </li>
                    <li>
                        <p class="text-dark">Phone: +1 234 567 890</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 E-Commerce Website
    </div>
</footer>